.footer{
    background-color:black
    width:100%; 
    height: 115px;
    padding: 32px 15px;
    display: flex;
    justify-content: center;
    &_wrp{
        width: 100%;
        max-width: 1150px;
        display:flex;
        justify-content: space-between;
        input{

        }
        input{

        }
        h3{

        }
    }
}